[Desktop Entry]
Type=Application
Version=1.0
Name=NSOC
GenericName=Network Security Operations Center
Comment=Hybrid security learning lab & operations platform
Exec=x-terminal-emulator -e nsoc
Icon=utilities-terminal
Terminal=false
Categories=03-webapp-analysis;04-database-assessment;System;Security;
Keywords=security;pentest;nsoc;soc;
